{% extends 'yetinder.html.twig' %}

{% block title %}Best of Yeti | {{parent()}}{% endblock %}

{% block page_title %}Best Of Yeti{% endblock %}
{% block page_description %} Best Yetis you could find in Yetinder {% endblock %}

{% block best_of %}

{% for yeti in yetinder%}
<div class="col">
	<div class="card mb-4 rounded-3 shadow-sm">
		<div class="card-header py-3">
			<h4 class="my-0 fw-normal">
				{{ yeti.name }}
			</h4>
		</div>
		<div class="card-body">
			<h1 class="card-title pricing-card-title">
				<small class="text-muted fw-light">Score: </small>{{ yeti.average_rating }}
			</h1>
			<ul class="list-unstyled mt-3 mb-4">

				<li>Height: {{ yeti.height }}</li>
				<li>Weight: {{ yeti.weight }}</li>
				<li>Age: {{ yeti.age }}</li>
				<li>Gender: {{ yeti.gender }}</li>
				<li>Residence: {{ yeti.residence }}</li>

			</ul>	
		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
